.toggle{
    display: flex;
    /* justify-content: s   pace-around; */
    /* align-items: center; */

}
.toggle .teach-btn{
    
    align-self: center;
}
.blk_line{
    height: 11vw;
    width: 4px;
    padding: 2vh;
    min-height: 62px;
}
.style{
    display: flex;
    align-items: center;

}
.toggle-div1{
    padding: 3vw;}
.toggle-div2{
    padding-top: 3vw;

    padding-left: 23vw;
}

@media (max-width:660px) {
    .toggle{
        display: flex;
        flex-direction: column;
    }
    .toggle-div2 {
        padding-left: 3vh;
    }
    .style{
        display: flex;
        flex-direction: column;
    }
    .blk_line{
        transform: rotate(90deg);
    }
    .style button{
        margin: 0;
    }

}