.greeting,
.L {
  flex-basis: 100%;
}
.form-popup{
  width: 350px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}
  
  .user-form {
    top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .greeting {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .L {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .user-data {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    /* -moz-appearance: textfield;
  appearance: textfield; */
  
  
}
  
  .addme {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
  }

  

  .popup-close{
    align-self: self-end;
  }