.user{
    margin-top: 47px;
    padding: 4vh;
}
.logout{
    border: 2px black;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: pointer;
}
.pen{
    height: 20%;
    width: 20%;
    max-width: 22px;
    min-width: 20px;
    cursor: pointer;
}
.userinfo-1{
    display: flex;
    align-items: center;
}
.border{
    margin: 2.7vw;
}
h3{
    margin: 5px;
}

.input-info{
    border: none;
    padding: 5px;
}
.impress-text{
    height: 88px;
    
}
.user-impress h3{
    display: flex;
}
.email-input, .dob-input {
    user-select: none;
    outline: none;
  }
  .user-img-div{
    height: 213px;
    width:160px;
    min-height: 120px;
    min-width: 160px;
    margin: 2vw;
    overflow: hidden;
  }
.textmui{
    width: 250px;
}
    @media (max-width:660px) {
    .user-impress h3{
        display: flex;
        flex-direction: column  ;
    }
    .impress-text {
        height: 38px;
    }
    .user-email h3{
        display: flex;
        flex-direction: column;
    }
    .userinfo-1{
        display: flex;
        flex-direction: column;
    }
    .user-img-div{
        width: 100%;
    }
}
