
.teach-img{
    max-width: 290px; 
    /* width: 70%; */
    height: auto; 
    /* width: 25%;
    height: auto; */
    /* max-width: 70%; */
    /* min-width: 15%; */
 /* max-height:35vh; */
 /* min-height: 20vh; */
margin-top: 27px;
margin-bottom: 27px;
margin-top:27px ;
margin-bottom: 27px;
}
.hero-teach{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin-top: 47px;
margin-bottom: 47px;
margin-left: 72px;
margin-right: 72px;
}
.start-journey{
    align-self:  flex-end;
    display: flex;
    width: 503px;        

}
.text{
    
    margin: 0px 20px 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.teach-btn{
    margin-left:  25px; 
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 49px;
    width: 113px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.teach-btn:hover {
    transition: 0.4s;
    background-color: #351600;
  }
.home-teach-btn{
color: white;

}
@media (max-width: 991px) {
    .hero-teach {
      flex-direction: column-reverse;
      align-items: center;
      margin: 16px 16px 16px 16px;
    }
    .teach-img{
        width: 70%;
        height: auto;
    }
  }